@model List<Hospital.Controllers.Command.AccountPrint>

@{
    ViewData["Title"] = "Doctors";
}

<!DOCTYPE html>

<h1>@ViewData["Title"]</h1>

<table class="accounts table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Speciality</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.Username</td>
                <td>@doctor.Email</td>
                <td>@doctor.Speciality</td>
            </tr>
        }
    
    </tbody>
    
</table>
