@model List<Pair<Doctor,Account>>

@{
    ViewData["Title"] = "Doctors";
}

<!DOCTYPE html>

<h1>@ViewData["Title"]</h1>

<table class="accounts table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Speciality</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.Second.Username</td>
                <td>@doctor.First.Email</td>
                <td>@doctor.First.Specialty</td>
            </tr>
        }
    
    </tbody>
    
</table>
